/*h1{
	color: blue;
}*/

.Heading{
		justify-content: center;
		display: flex;
		padding: 20px;
		font-family: monospace;
}

.Sub-Heading{
    display: flex;
    justify-content: center;
}


